<connectionStrings>
  <clear />
  <add name="ShopOnlineConectionString" providerName="System.Data.SqlClient" connectionString="Data Source=NGUYENVANPHONG1\SQLEXPRESS;Initial Catalog=nhdammqz_shoponline;Integrated Security=False;User Id=sa;Password=ng215233476;MultipleActiveResultSets=True" />
</connectionStrings>