
@model ShopOnline.Web.Models.AboutViewModel
@{
    ViewBag.Title = "Gới thiệu";
    ViewBag.MetaKeyword = "Giới thiệu sản phẩm";
    ViewBag.MetaDiscription = "Giới thiệu về công ty chúng tôi";
    Layout = "~/Views/Shared/Layouts.cshtml";

}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-sm-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/index.html">Home</a>
                    </li>                  
                    <li>Giới thiệu</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12" id="blog-post">

                <div class="box">
                    <h3>Giới thiệu</h3>                  
                    <div id="post-content">
                        @Html.Raw(Model.Content)
                    </div>
                    <!-- /#post-content -->

                </div>
                <!-- /#comments -->

            </div>
            <!-- /.box -->
        </div>
        <!-- /#blog-post -->
    </div>
    <!-- /.container -->
</div>


